---
const user = Astro.locals.user;
console.log(user);

// import { db, Pets } from 'astro:db';
// const pets = await db.select().from(Pets);
// console.log(pets);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{user && <h2>hey {user.username}</h2>}
			<a href="/lucia/profile">
				{user? 'profile':'members section'}
			</a>
			<!-- <h2>My pets</h2>
			<ul>
				{pets.map(pet=>(
					<li>{pet.species} : {pet.name} </li>
				))}
			</ul> -->
	</body>
</html>
